.contact-container {
  background-color: #6e07f3;
  color: whitesmoke;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 2rem;
  }
  svg {
    padding: 7.5px;
    width: 40px;
    height: 40px;
    margin: 30px;
  }
  .contact-socials {
    padding: 30px;
    display: flex;
    justify-content: center;
    svg {
      border: solid whitesmoke 1px;
      border-radius: 50%;
    }
  }
}

@media (max-width: 500px) {
  .contact-container {
    h1 {
      font-size: 1.5rem;
    }
  }
}
